[build]
command = "cd Desktop/newww && yarn install --ignore-engines && yarn build:packages && yarn --cwd ./excalidraw-app build:app:netlify && yarn --cwd ./excalidraw-app build:version"
publish = "Desktop/newww/excalidraw-app/build"

[build.environment]
NODE_VERSION = "18"
YARN_VERSION = "1.22.22"
NPM_FLAGS = "--legacy-peer-deps"
CI = "false"
VITE_APP_ENABLE_ESLINT = "false"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[[headers]]
for = "/*"
[headers.values]
X-Frame-Options = "DENY"
X-XSS-Protection = "1; mode=block"
X-Content-Type-Options = "nosniff"
Referrer-Policy = "strict-origin-when-cross-origin"

[[headers]]
for = "/*.woff2"
[headers.values]
Cache-Control = "public, max-age=31536000, immutable"